.modal-overlay {
    background-color: rgb(158, 78, 21);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.modal {
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 500px;
    background-color: red;
    border-radius: 11px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.041);
    padding: 1rem;
}
.modal-content {
    padding: 0.5rem 1rem;
    flex: 1;
}
.modal-footer {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.041);
}



/* ANIMATION */

@keyframes scale-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

.modal {
	-webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			
}
