/* ============== RESET =============== */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ============== VARIABLES =============== */
:root {
    
    --background-1: #353b48;
    --background-2: #2f3640;
    --contrast-1: #f1f2f6;
    --contrast-2: #dcdde1;
    --main-color-1: #2ed573;
    --secondary-color-1: ;
    --green-1: #2ed573;
    --green-2: #7bed9f;
    --green-3: #4cd137;
    --green-4: #44bd32;
    --yellow: #fbc531;
    --orange-1: #e84118;
    --orange-2: #ff6348;
    --red-1: #c23616;
    --purple-1: #9c88ff;
    --purple-2: #8c7ae6;
    --pink: #ff4757;
    --gray-1: #718093;
    --gray-2: #747d8c;
    --light-gray-1: #dfe4ea;
    --light-gray-2: #ced6e0;
    --blue-1: #70a1ff;
    --blue-2: #0097e6;
    --dark-blue-2: #192a56;
    --dark-blue-1: #5352ed;
    --strange-blue-1: #487eb0;
    --strange-blue-2: #40739e;
    
    /* fonts */

    --font-1: 'Mulish', sans-serif; /*fonte para titles*/
    --font-2: 'Raleway', sans-serif; /*fonte para texts*/
}

/* DARK-LIGHT THEME */
.light:root {
    --background-1: #dcdde1;
    --background-2: #f1f2f6;
    --contrast-1: #353b48;
    --contrast-2: #2f3640;
    --main-color-1: #c23616;
    --secondary-color-1: ;
}

/* ============== BASE =============== */
html {
    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5%; /* -> 1rem now is 10px */
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    line-height: inherit;
    background-color: var(--background-2);
}

::selection {
    color: var(--background-2);
    background-color: var(--main-color-1);
}

a {
    color: var(--contrast-1);
}

/* ============== MAIN - BASIS =============== */

main {
    color: var(--contrast-1);
}

main .flex {
    display: flex;
}

main .container {
    margin: 0 10rem;
}

/* ========= HOME - PROJECTS ========= */

main #projects .flex {
    margin-top: 10rem;
    margin-bottom: 10rem;
    flex-direction: column;
}

main #projects .title {
    font-family: var(--font-1);
    font-size: 3.2rem;
    margin-bottom: 5rem;
} 

main #projects .projects-subtitle {
    font-family: var(--font-2);
    font-size: 3.5rem; 
    margin-top: 3.5rem;
}

main #projects .projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

main #projects .projects-content img {
    border-radius: 4rem;
    border: solid .17rem var(--main-color-1);
    width: 80rem;
    cursor: pointer;
    transition: .35s;
}

main #projects .projects-content img:hover {
    transform: translateY(-1rem);
}

main #projects .projects-content .modalProjects .project-name {
    font-family: var(--font-1);
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

main #projects .projects-content .modalProjects .projects-texts {
    font-family: var(--font-2);
    font-size: 2.5rem;
}

/* =========== MODALS - PROJECTS ========== */

main #projects .projects-content .project .modalProjects {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
    /* SE A OPACIDADE ESTIVER BAIXA PARA O MODO LIGHT, EU POSSO MUDAR */
}

main #projects .projects-content .project .modalForProject-content {
    background-color: var(--background-2);
    margin: 15rem 15rem;
    padding: 3rem;
    border-radius: 4rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalProjectOpen;
    animation-duration: 1.1s;
}

@keyframes modalProjectOpen {
    from { opacity: 0}
    to {opacity: 1}    
}

main #projects .projects-content .project .modalProjectsCloseBtn {
    color: var(--contrast-1);
    float: right;
    font-size: 3rem;
    margin: -3rem -1rem 0 0;
    border: solid .1rem var(--main-color-1);
    border-radius: 4rem;
}

main #projects .projects-content .project .modalProjectsCloseBtn:hover,
main #projects .projects-content .project .modalProjectsCloseBtn:focus {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color-1);
}





/* ============= DIVIDERS =========== */

.divider-1 {
    height: .1rem;
    background: linear-gradient(
        to right,
        var(--main-color-1),
        rgba(0,0,0,0)
    );
}

.divider-2 {
    height: .1rem;
    background: linear-gradient(
        to left,
        var(--main-color-1),
        rgba(0,0,0,0)
    );
}
